/* ==UserStyle==
@name           DarkRYM
@namespace      github.com/jgchk/RateYourMusic-Dark
@version        1.0.0
@description    dark theme for rateyourmusic.com based on RateYourMusic Tomorrow 2
@author         mocha
==/UserStyle== */

@-moz-document domain("rateyourmusic.com") {
    :root {
        --background: #222427;
        --foreground: #27292d;
        --border: #373b41;
        
        --text: #c5c8c6;
        --text-gray: #969896;
        --header: #a35151;
        
        --link: #81a2be;
        --link-hover: #c66;
        
        --film-genre: #de935f;
        
        --user: #69c;
        --user-online: #9c9;
        --user-inactive: #999;
        
        --button: #4271ae;
        --button-hover: #3e999f;
        --button-hover-subtle: #547fb6;
        --button-text: #edeeed;
        
        --red: #cc6666;
        --spoiler: #c9b4cf;
        
        --rating-10: #b8d0de;
        --rating-9: #9fc2d6;
        --rating-8: #86b4cf;
        --rating-7: #73a2bd;
        --rating-6: #6792ab;
        --rating-5: #51779e;
        --rating-4: #33608f;
        --rating-3: #205082;
        --rating-2: #1b4775;
        --rating-1: #0c3663;
        --rating-0: #fff;
    }

    body,
    #content {
        color: var(--text);
        background: var(--background);
    }
    
    a:link,
    a:visited {
        color: var(--link);
    }
    
    a:hover,
    a.artist:hover,
    a.album:hover,
    a.film:hover,
    a.film_artist:hover {
        color: var(--link-hover);
    }
    
    div.bubble_header,
    div.bubble_content {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    div.bubble_header {
        border-bottom: none;
    }
    
    div.bubble_content {
        border-top: none;
    }
    
    .mbgen tr:nth-child(odd),
    .mbgen tr:nth-child(even) {
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .mbgen td,
    .mbgen td:last-child {
        border: none;
    }
    
    .user {
        color: var(--user) !important;
    }
    
    .usero {
        color: var(--user-online) !important;
    }
    
    .useri {
        color: var(--user-inactive) !important;
    }
    
    #navtop li {
        border: none;
        background: var(--background);
    }
    
    #navtop,
    #navtop li.sub {
        border: none;
    }
    
    #navtop a,
    #navtop a.sub {
        color: var(--text);
    }
    
    #navtop a:hover,
    #navtop a:link#current,
    #navtop a:visited#current,
    #navtop a.sub:hover {
        color: var(--text);
        background: var(--border);
    }
    
    #rstar {
        position: relative;
        top: 2px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://rateyourmusic.com/favicon.ico) no-repeat;
        background-size: 16px;
        width: 16px;
        height: 16px;
        padding-left: 16px;
        margin-right: 5px;
    }
    
    .mobile_header_btn {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
    }
    
    .mobile_header_btn:hover {
        background: var(--button-hover);
    }
    
    div.main_searchbar {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    #mainsearch input {
        color: var(--text);
    }
    
    div.search_options_frame {
        color: var(--text-gray);
    }
    
    div.search_options {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    div.search_option_header {
        color: var(--text);
    }
    
    div.searchtype_option {
        color: var(--text);
    }
    
    div.searchtype_option:hover {
        color: var(--text);
        background: var(--border);
    }
    
    #mainsearch_submit {
        color: var(--text) !important;
        background: var(--border) !important;
    }
    
    div.helplink a {
        color: var(--link) !important;
    }
    
    #navtop div.helplink a:hover {
        background: none;
        color: var(--link-hover) !important;
    }
    
    .submenu_ext {
        background: var(--background);
    }
    
    div[style^='padding-top:1em;padding:0.5em;background:#eee;border-top:1px solid #ddd'] {
        border: none !important;
        background: var(--background) !important;
    }
    
    #navbottom {
        color: var(--text);
        border: none;
        background: var(--background);
    }
    
    #navbottom li a {
        color: var(--link);
    }
    
    #navbottom li a:hover {
        color: var(--link-hover);
    }
    
    .smallgray,
    a.smallgray {
        color: var(--text-gray);
    }
    
    .credited_name {
        color: var(--link);
    }
    
    .abpmessage,
    .credited_list_inner {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    div.profilehii {
        color: var(--text);
    }
    
    div.profilehii > table.mbgen > tbody > tr {
        border: none;
    }
    
    div.profilehii > table.mbgen > tbody {
        border: 2px solid var(--border);
    }
    
    #profilename {
        color: var(--text);
    }
    
    a.smallbutton,
    a.tinybutton,
    a.button,
    a.toolbutton {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    a.smallbutton:hover,
    a.tinybutton:hover,
    a.button:hover,
    a.toolbutton:hover {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button-hover);
    }
    
    a.tinybutton,
    a.tinybutton:hover {
        padding: 3px;
    }
    
    div[style^='background:#d8d8d8;padding:0;margin:0;'] {
        background: none !important;
    }
    
    div[style^='background:#d8d8d8;padding:0;margin:0;'] > a > img {
        border: none !important;
    }
    
    #allNotifications {
        border: none !important;
    }
    
    #allNotifications > table.mbgen {
        border: none;
    }
    
    #allNotifications > table.mbgen > tbody > tr {
        border: none !important;
    }
    
    table[style^='width:90%;'] {
        border: none !important;
    }
    
    table[style^='width:90%;'] > tbody > tr {
        border: none !important;
    }
    
    div.profilesearch {
        color: var(--text);
        background: var(--foreground);
    }
    
    #messages td,
    #messages th,
    .mobile_menu_return,
    .musictoolbar,
    .steps,
    .works_toolbar {
        border: none;
    }
    
    .musictoolbar a {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button) !important;
    }
    
    .musictoolbar a:hover {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button-hover) !important;
    }
    
    td[class^='or_q_'] {
        border: 1px solid var(--border) !important;
    }
    
    td[colspan^='5'] {
        border: none !important;
    }
    
    #musicrecent > table {
        border: none;
    }
    
    #musicrecent > table > tbody > tr {
        border: none;
    }
    
    #filmrecent > table {
        border: none;
    }
    
    #filmrecent > table > tbody > tr {
        border: none;
    }
    
    a.film_genre {
        color: var(--film-genre) !important;
    }
    
    .or_q_rating_date_s > span {
        color: var(--foreground);
    }
    
    .or_q_rating_date_s > span:hover {
        color: var(--text-gray);
    }
    
    a[href$='/visual/'] {
        color: var(--link) !important;
    }
    
    a[href$='/visual/']:hover {
        color: var(--link-hover) !important;
    }
    
    .or_q_ownership {
        color: var(--text-gray);
    }
    
    .rating_pct {
        border: 2px solid var(--border);
    }
    
    #rating_pct_10 {
        background: var(--rating-10);
    }
    
    #rating_pct_9 {
        background: var(--rating-9);
    }
    
    #rating_pct_8 {
        background: var(--rating-8);
    }
    
    #rating_pct_7 {
        background: var(--rating-7);
    }
    
    #rating_pct_6 {
        background: var(--rating-6);
    }
    
    #rating_pct_5 {
        background: var(--rating-5);
    }
    
    #rating_pct_4 {
        background: var(--rating-4);
    }
    
    #rating_pct_3 {
        background: var(--rating-3);
    }
    
    #rating_pct_2 {
        background: var(--rating-2);
    }
    
    #rating_pct_1 {
        background: var(--rating-1);
    }
    
    #rating_pct_0 {
        background: var(--rating-0);
    }
    
    .mbgen th {
        border: none;
        background: var(--foreground);
    }
    
    #users td:hover,
    td#f_listening:hover {
        border: 1px solid var(--border) !important;
        background: var(--border) !important;
    }
    
    #users td,
    td#f_listening {
        border: 1px solid var(--border);
    }
    
    div.smallcomment_area {
        border: 1px solid var(--border) !important;
        background: var(--foreground) !important;
    }
    
    div[style^='background:#f8f8f8'] {
        color: var(--text) !important;
        border: 1px solid var(--border) !important;
        background: var(--foreground) !important;
    }
    
    div.comment {
        color: var(--text);
        border-bottom: 1px solid var(--border);
    }
    
    table.mbgen[style^='margin:14px;'] {
        margin: 0 !important;
    }
    
    a[title^='add user'] {
        color: var(--button-text) !important;
    }
    
    .contribution {
        border: 2px solid var(--border);
        background: var(--button);
    }
    
    .contribution > a {
        color: var(--button-text);
    }
    
    .contribution > a:hover {
        color: var(--text);
    }
    
    div.date_element {
        background: var(--foreground);
    }
    
    div.date_element_month,
    div.date_element_year {
        color: var(--text-gray);
    }
    
    div.date_element_day {
        color: var(--text);
    }
    
    .film_right_column,
    .game_right_column,
    .release_right_column,
    .film_left_column,
    .release_right_column .section_my_catalog.section_outer,
    .release_left_column {
        border: none;
        background: var(--background);
    }
    
    div.hide-for-small {
        background: var(--background) !important;
    }
    
    .release_right_column .section_reviews.section_outer {
        border: none;
    }
    
    div.large-4.pull-8.columns.release_left_column > div {
        background: var(--background) !important;
    }
    
    .catalog_list span.navspan,
    .review_list {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .review_sort,
    .navpage {
        color: var(--text);
    }
    
    .sort_choice {
        border-right: 1px solid var(--border);
    }
    
    th.info_hdr {
        color: var(--text-gray);
    }
    
    .num_ratings,
    .max_rating,
    .release_pri_descriptors {
        color: var(--text-gray);
    }
    
    td[style^='font-size:0.9em;color:#555;'],
    td[style^='font-size:x-small;font-weight:normal;color:#555;']{
        color: var(--text-gray) !important;
    }
    
    .sort_choice.selected,
    .sort_choice:hover {
        color: var(--text-gray);
    }
    
    .catalog_list span.navlinkcurrent,
    .review_list span.navlinkcurrent {
        color: var(--text-gray);
        border: none;
    }
    
    a.navlinknext:visited,
    a.navlinknum:visited,
    a.navlinkprev:visited {
        color: var(--link);
    }
    
    a.navlinknext:hover,
    a.navlinknum:hover,
    a.navlinkprev:hover {
        color: var(--link-hover);
    }
    
    a.genre_vote_btn,
    a.descriptor_vote_btn,
    tr.release_genres:hover a.genre_vote_btn,
    tr.film_genres:hover a.genre_vote_btn,
    tr.release_descriptors:hover a.descriptor_vote_btn,
    tr.film_descriptors:hover a.descriptor_vote_btn {
        padding: 3px;
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
    }
    
    a.genre_vote_btn:hover,
    a.descriptor_vote_btn:hover,
    tr.release_genres:hover a.genre_vote_btn:hover,
    tr.film_genres:hover a.genre_vote_btn:hover,
    tr.release_descriptors:hover a.descriptor_vote_btn:hover,
    tr.film_descriptors:hover a.descriptor_vote_btn:hover {
        background: var(--button-hover);
    }
    
    div.release_navigation_links {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
        height: 32px;
        line-height: 32px;
    }
    
    div.release_navigation_guidance,
    div.section_release_navigation {
        border: none;
    }
    
    div.release_nav_guidance_left a,
    div.release_nav_guidance_right a {
        color: var(--text-gray);
    }
    
    ul.tracks {
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.tracks li.track {
        color: var(--text);
        border: none;
        background: var(--foreground);
    }
    
    ul.credits {
        color: var(--text);
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .role_name {
        color: var(--text-gray);
    }
    
    .role_name.has_tracks {
        color: var(--text);
    }
    
    .credit_expand_btn,
    .issue_expand_btn,
    .list_add_btn {
        color: var(--button-text) !important;
        border: 1px solid var(--border) !important;
        border-radius: 0 !important;
        background: var(--button) !important;
    }
    
    .credit_expand_btn:hover,
    .issue_expand_btn:hover,
    .list_add_btn:hover {
        background: var(--button-hover) !important;
    }
    
    .list_add_btn > a,
    .list_add_btn:hover > a {
        color: var(--button-text);
    }
    
    table.film_infox {
        border: 2px solid var(--border) !important;
        background: var(--foreground) !important;
    }
    
    ul.lists {
        color: var(--text);
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.lists li {
        background: var(--foreground);
    }
    
    ul.lists li:hover {
        background: var(--border);
    }
    
    a.list_artist,
    a.list_album {
        color: var(--link) !important;
    }
    
    a.list_artist:hover,
    a.list_album:hover {
        color: var(--link-hover) !important;
    }
    
    div.list_name > a {
        color: var(--link) !important;
    }
    
    div.list_name > a:hover {
        color: var(--link-hover) !important;
    }
    
    #add_to_list_btn {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
    }
    
    #add_to_list_lists {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    div.comments {
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .comment_header,
    .comments_post {
        background: var(--foreground);
    }
    
    .comment_body {
        color: var(--text);
    }
    
    .comment_date {
        color: var(--text-gray);
    }
    
    .comment_mod span:hover,
    .comment_mod {
        color: var(--text-gray);
    }
    
    .comment_cancel_btn,
    .comment_post_add_btn,
    .comment_post_btn {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
    }
    
    .comment_cancel_btn:hover,
    .comment_post_add_btn:hover,
    .comment_post_btn:hover {
        background: var(--button-hover);
    }
    
    ul#discussion {
        color: var(--text);
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul#discussion li,
    ul.suggestions li {
        background: var(--foreground);
    }
    
    ul#discussion li a,
    ul#discussion li:hover a {
        color: var(--link);
    }
    
    ul#discussion li a:hover {
        color: var(--link-hover);
    }
    
    ul.suggestions {
        border: 2px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    div.release_artist,
    div.release_artist .subtext {
        color: var(--text-gray);
    }
    
    .bump_btn,
    .bump_btn.bumpable,
    .catalog_btn,
    .catalog_btn.catalog_o,
    .catalog_btn.catalog_u,
    .catalog_btn.catalog_w,
    .format_btn,
    .more_btn,
    .notes_btn,
    .review_btn,
    .review_save_btn,
    .tag_btn,
    .tag_btn.has_tags,
    .track_rating_btn,
    .track_rating_btn.has_ratings {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
        height: 28px;
    }
    
    .bump_btn:hover,
    .bump_btn.bumpable:hover,
    .catalog_btn:hover,
    .catalog_btn.catalog_o:hover,
    .catalog_btn.catalog_u:hover,
    .catalog_btn.catalog_w:hover,
    .format_btn:hover,
    .more_btn:hover,
    .notes_btn:hover,
    .review_btn:hover,
    .review_save_btn:hover,
    .tag_btn:hover,
    .tag_btn.has_tags:hover,
    .track_rating_btn:hover,
    .track_rating_btn.has_ratings:hover {
        background: var(--button-hover);
    }
    
    .catalog_btn_options {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    .catalog_btn_option {
        color: var(--button-text);
    }
    
    .catalog_btn_option:hover {
        background: var(--button-hover);
    }
    
    .my_catalog_rating {
        opacity: 1;
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
        height: 20px;
    }
    
    div.rating_num {
        margin-top: 1px;
        color: var(--text);
    }
    
    div.rating_stars {
        margin-top: 1px;
    }
    
    .tag_btn {
        background-image: none;
        padding-left: 7px
    }
    
    .my_catalog_tags .tag_dlg {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    .catalog_btn.catalog_o,
    .catalog_btn.catalog_u,
    .catalog_btn.catalog_w {
        border-right: none;
    }
    
    .format_btn_options {
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    .format_btn_option {
        color: var(--button-text);
    }
    
    .format_btn_option.default_format {
        background: var(--button-hover-subtle);
    }
    
    .format_btn_option:hover {
        background: var(--button-hover);
    }
    
    .section_my_catalog div#release_touch_catalog_guidance {
        color: var(--text-gray);
    }
    
    .release_page_header,
    .release_page_header h2 {
        color: var(--header);
    }
    
    ul.issues {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.issues li.release_view,
    ul.issues li {
        color: var(--text);
        background: var(--foreground);
    }
    
    ul.issues li:hover {
        color: var(--text);
        background: var(--border);
    }
    
    ul.issues li.release_view a {
        color: var(--text);
    }
    
    span.issue_title a {
        color: var(--link) !important;
    }
    
    span.issue_title a:hover {
        color: var(--link-hover) !important;
    }
    
    span.primary_indicator {
        color: var(--red);
    }
    
    span.issue_year.ymd,
    span.issue_year.ym {
        color: var(--text-gray);
    }
    
    .review_body {
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .review_body,
    .review_body span {
        color: var(--text) !important;
    }
    
    .review_title {
        color: var(--text-gray);
    }
    
    .review_header {
        border: 1px solid var(--border);
        border-bottom: none;
        border-radius: 0;
        background: var(--foreground);
    }
    
    .review_header_img {
        border-radius: 0;
    }
    
    .review {
        border: none;
    }
    
    .review_voting {
        margin-top: 0;
    }
    
    .review_publish_status,
    .album_shortcut {
        color: var(--text-gray);
    }
    
    .review_voting i.fa-caret-down,
    .review_voting i.fa-caret-up,
    .review_vote_bookmark i {
        color: var(--text-gray);
    }
    
    .review_vote_count,
    .review_date {
        color: var(--text-gray);
    }
    
    .review_supplement_expand {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .review_supplement {
        color: var(--text-gray);
    }
    
    .spoiler,
    span.spoiler {
        color: var(--button-text) !important;
        border: 1px solid var(--spoiler);
        background: var(--spoiler);
    }
    
    .no_content_message {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
        margin-bottom: 10px;
    }
    
    .catalog_header,
    .catalog_date {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .catalog_header.friend,
    .review_header.friend,
    .catalog_line.my_rating .catalog_header{
        background: var(--border);
    }
    
    .catalog_line.my_rating .catalog_date_inner {
        color: var(--text);
        border: none;
        background: var(--foreground);
    }
    
    .catalog_line.my_rating .catalog_bump {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button);
    }
    
    .catalog_bump:hover {
        background: var(--button-hover) !important;
    }
    
    .catalog_rating_system_comment {
        color: var(--text);
    }
    
    .rating_info_cataloged,
    .rating_info_ratings,
    .rating_info_track_ratings {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .rating_info_ratings {
        border-right: none;
    }
    
    .rating_info_cataloged {
        border-right: none;
    }
    
    .rating_info_table div.active {
        background: var(--border);
    }
    
    .catalog_stats div.header {
        color: var(--text);
        border: 1px solid var(--border);
        border-bottom: none;
        border-radius: 0;
        background: var(--foreground);
    }
    
    .catalog_stats {
        padding-top: 10px;
    }
    
    div#chart_div,
    div#chart_div2 {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground) !important;
    }
    
    div#chart_div {
        margin-bottom: 8px;
    }
    
    div#chart_div rect[fill='#cccccc'],
    div#chart_div rect[fill='#aaaaaa'],
    div#chart_div2 rect[fill='#cccccc'],
    div#chart_div2 rect[fill='#666666'] {
        fill: var(--border);
    }
    
    #content > div.release_page > div {
        border: none !important;
    }
    
    a.contribution_button,
    a.review_delete_btn,
    a.review_edit_btn {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    a.contribution_button:hover,
    a.review_delete_btn:hover,
    a.review_edit_btn:hover {
        color: var(--button-text);
        background: var(--button-hover);
    }
    
    .contributor_header {
        color: var(--text-gray);
    }
    
    .infobox {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground) !important;
    }
    
    #breadcrumb {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    #breadcrumb li.current {
        color: var(--text);
    }
    
    #breadcrumb li.lnk {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
    }
    
    #breadcrumb li.lnk:hover {
        background: var(--button-hover);
    }
    
    .navlinkcurrent {
        border: none;
    }
    
    div[style^='font-size:1.2em;line-height:1.7;text-align:center;'] {
        background: none !important;
    }
    
    .ooookiig,
    .chart_year,
    .chart_stats a {
        color: var(--text-gray);
    }
    
    blockquote[style^='color:#444;'] {
        color: var(--text) !important;
    }
    
    blockquote > span[style^='color:red;'] {
        color: var(--red) !important;
    }
    
    div.findsearch {
        color: var(--text);
        border: none;
        background: none;
    }
    
    .topleveldiv {
        color: var(--text);
        border: 2px solid var(--border);
        background: var(--foreground);
    }
    
    .parentdiv {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .artist_left_col {
        color: var(--text);
        background: var(--background);
    }
    
    .section_artist_info {
        color: var(--text);
    }
    
    .artist_info .info_hdr {
        color: var(--text-gray);
    }
    
    .artist_page_section_left {
        border-right: 1px solid var(--border);
    }
    
    .label_film,
    .label_music {
        color: var(--text-gray);
    }
    
    .artist_page_section_active_music,
    .artist_page_section_active_film {
        color: var(--header);
        border-bottom: 1px solid var(--header);
    }
    
    .artist_page_section_active_music span.subtext,
    .artist_page_section_active_film span.subtext {
        color: var(--text-gray);
    }
    
    .artist_page_section_button_music,
    .artist_page_section_button_film {
        color: var(--header) !important;
        border-bottom: 2px solid var(--header);
    }
    
    .artist_page_section_button_music .subtext,
    .artist_page_section_button_film .subtext {
        color: var(--text-gray);
    }
    
    .artist_page_section_button_music:hover,
    .artist_page_section_button_film:hover {
        color: var(--header) !important;
        border-bottom: 2px solid var(--header);
        background: var(--border);
    }
    
    .disco_search {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .disco_search input {
        color: var(--text);
        background: var(--foreground);
    }
    
    .loading_disco {
        background: var(--background);
    }
    
    .loading_disco > div[style^='text-align:center;font-size:2em;'],
    .disco_search_results > div[style^='text-align:center;font-size:2em;'] {
        color: var(--text-gray) !important;
    }
    
    div[class^='coverart_'] {
        background-color: var(--background);
    }
    
    #roughguide,
    .rough_guide_link,
    .rough_guide_text {
        border: none;
    }
    
    .rough_guide_text .comment_header {
        background: var(--background)
    }
    
    .rough_guide_link {
        color: var(--button-text);
        border: 1px solid var(--border);
        background: var(--button);
        margin: 0 20px;
    }
    
    .rough_guide_link:hover {
        background: var(--button-hover);
    }
    
    #roughguide {
        background: var(--background);
    }
    
    .rough_guide_text {
        background: var(--background);
    }
    
    .section_artist_biography {
        color: var(--text);
    }
    
    ul.shows li {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.shows > li > span[style^='width:10em;text-align: center;'] {
        color: var(--text-gray) !important;
    }
    
    div.large-4.pull-8.columns.artist_right_col,
    div.large-4.pull-8.columns.artist_right_col > div {
        border: none;
        background: var(--background);
    }
    
    .artist_page {
        background: var(--background);
    }
    
    h1.artist_name_hdr {
        color: var(--text);
    }
    
    div.row {
        border: none !important;
        background: var(--background) !important;
    }
    
    .disco_mainline a.album {
        color: var(--link);
    }
    
    .disco_mainline a.album:hover {
        color: var(--link-hover);
    }
    
    .disco_mainline span.subtext {
        color: var(--text-gray);
    }
    
    .disco_subline,
    .disco_subline > span[style^='color:#888'] {
        color: var(--text-gray) !important;
    }
    
    .disco_header_section {
        border: none;
    }
    
    .disco_header {
        color: var(--text-gray);
    }
    
    h3 {
        color: var(--header)
    }
    
    .disco_showing {
        color: var(--text-gray);
    }
    
    .disco_expand_section_link {
        color: var(--link);
    }
    
    .disco_expand_section_link:hover {
        color: var(--link-hover);
    }
    
    .disco_expand_section_btn {
        color: var(--button-text);
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--button)
    }
    
    .disco_expand_section_btn:hover {
        background: var(--button-hover);
    }
    
    .disco_release {
        border-radius: 0;
    }
    
    .disco_release:hover {
        background: var(--border);
    }
    
    .disco_issues_section > ul.issues,
    .disco_issues_section > ul.issues li {
        background: var(--background);
    }
    
    ul.issues .disco_cat_inner_issue {
        border: 1px solid var(--border);
    }
    
    .issue_cataloger,
    .film_cataloger {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    .issue_cataloger .my_catalog_rating,
    .film_cataloger .my_catalog_rating {
        border: none;
    }
    
    .film_cataloger i {
        color: var(--text);
    }
    
    .disco_year_y,
    .disco_year_ym,
    .disco_year_ymd {
        color: var(--text-gray);
    }
    
    .disco_ratings,
    .disco_reviews {
        color: var(--text-gray);
    }
    
    .disco_avg_rating {
        color: var(--text);
    }
    
    span.rating_not_enough_data {
        color: var(--text-gray);
    }
    
    .disco_cat,
    .disco_expandissues {
        color: var(--button-text);
        border-radius: 0;
        background: var(--button);
        height: calc(3.5em - 2px);
        line-height: calc(3.5em - 2px)
    }
    
    .disco_cat {
        border: 1px solid var(--border);
        border-right: none;
    }
    
    .disco_cat_catalog_msg,
    .disco_release:hover .disco_cat_catalog_msg {
        color: var(--button-text);
    }
    
    .disco_expandissues,
    .disco_expandissues.has_cat {
        border: 1px solid var(--border);
        border-left: 1px solid var(--border);
    }
    
    .disco_cat_inner,
    .disco_cat_inner_issue {
        color: var(--button-text);
        background: var(--button);
        border-radius: 0;
        width: calc(9em - 1px);
    }
    
    .expand_num {
        border-right: 1px solid var(--border);
    }
    
    .disco_expandcat:hover .disco_cat,
    .disco_expandcat:hover .disco_expandissues,
    .disco_expandcat:hover .disco_cat_inner,
    .disco_expandcat:hover .disco_cat_inner_issue {
        background: var(--button-hover);
    }
    
    .disco_rel_img {
        border-radius: 0;
    }
    
    .disco_rel_no_img {
        background: none;
    }
    
    ul.films li {
        background: var(--background);
        border-radius: 0;
    }
    
    ul.films li:hover {
        background: var(--border);
    }
    
    .film_rel_img {
        border-radius: 0;
    }
    
    .film_rel_no_img {
        background: none;
    }
    
    .film_subline,
    .film_subline .credited_name {
        color: var(--text-gray) !important;
    }
    
    ul.films .disco_cat_inner {
        border: 1px solid var(--border);
    }
    
    ul.films .disco_cat_inner:hover {
        background: var(--button-hover);
    }
    
    .disco_cat_catalog_msg i {
        color: var(--button-text);
    }
    
    .shaded,
    #membersOnline,
    #membersOnline th,
    #newestUsers,
    #newestUsers th {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    #membersOnline td,
    #membersOnline th,
    #newestUsers,
    #newestUsers td,
    #newestUsers th {
        border: 1px solid var(--border);
    }
    
    #membersOnline tr.favorite {
        background: var(--border);
    }
    
    #tempform fieldset {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .trodd,
    .treven {
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .number,
    .generic_title {
        color: var(--text-gray);
    }
}
